footer {
    width: 100%;

    .inner {
        width: $inner;
        margin: auto;
        margin-left: 10vw;
        height: 10rem;
        background-color: #fafafa;
        display: flex;
        justify-content: space-around;
        font-size: $info2;

        .copy:before,
        .info:before {
            content: "";
            border-left: 1px solid #cccccc;
            font-size: 1.6rem;
            position: relative;
        }

        .copy:before {
            left: 17vw;
            top: 3rem;
        }

        .info:before {
            left: 35vw;
            top: 3rem;
        }

.info{
    span{
        color: #f29833;
        font-weight: 500;
    }
}

       .sns{
        display: flex;
        gap: 2rem;
        a{
            margin-top: 3rem;
            img{
                width: 25px;
                margin-top: 0.8rem;
            }
        }
       } 
    }
}