header {
    width: 100%;
    height: $height;
    user-select: none;
    
    .wrap {
        width: 100%;
        display: flex;

        .left {
            width: $nav;
            background: $background;
            position: fixed;
            height: $height;

            .logo {
                height: 16px;
                width: 165px;
                margin: auto;
                margin-top: calc(50vh - 16px);

                h1 {
                    width: 120px;
                    margin: auto;
                    img {
                        width: 6.5vw;
                    }
                }
            }
            .collection{
                text-align: center;
                padding-top: 22rem;
                span:first-child{
                    font-size: $info2;
                }
                span:last-child{
                    font-size: $info2;
                    color: $background;
                    padding: 0.2rem 0.5rem;
                    background-color: $primary;
                    border-radius: 100%;
                }
            }
        }

        .banner {
            width: $inner;

            .b-img {
                position: relative;

                &-img {
                    img {
                        width: $inner;
                        min-width: 1200px;
                        position: relative;
                        top: 0;
                        left: 10vw;
                        z-index: -1;
                    }

                    height: 95vh;
                }

                &-text {
                    position: absolute;
                    left: 10vw;
                    width: $inner;
                    height: 10vh;
                    background-color: $background;

                    &-inner {
                        position: absolute;
                        left: 18vw;

                        span {
                            @extend %picSpan;
                        }
                    }
                }
            }
        }

        .right {
            position: fixed;
            top: 0;
            right: 0;
            width: $nav;
            background: $background;
            height: $height;
        }
    }
}