header {
    width: 100%;
    user-select: none;

    .wrap {
        width: 100%;
        display: flex;

        .left {
            width: $nav;
            background: $background;
            position: fixed;

            @include mediaQ ('ham1') {
                width: 100%;
                height: 60px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $background;
            }
            @include mediaQ ('ham2') {
                width: 100%;
                height: 60px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $background;
            }
            @include mediaQ ('ham3') {
                width: 100%;
                height: 60px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $background;
            }

            .logo {
                height: 16px;
                width: 165px;
                margin: auto;
                margin-top: calc(50vh - 16px);
                cursor: pointer;

                h1 {
                    width: 120px;
                    margin: auto;

                    img {
                        width: 6.5vw;
                    }
                }

                @include mediaQ ('ham1') {
                    margin: 0;

                    h1 {
                        width: auto;
                        margin: 0;

                        img {
                            width: 120px;
                            margin: 1.5rem;
                        }
                    }
                }
                @include mediaQ ('ham2') {
                    margin: 0;

                    h1 {
                        width: auto;
                        margin: 0;

                        img {
                            width: 120px;
                            margin: 1.5rem;
                        }
                    }
                }
                @include mediaQ ('ham3') {
                    margin: 0;

                    h1 {
                        width: auto;
                        margin: 0;

                        img {
                            width: 120px;
                            margin: 1.5rem;
                        }
                    }
                }
            }

            .collection {
                text-align: center;
                padding-top: 22rem;
                cursor: pointer;

                i {
                    display: none;
                }

                span:first-child {
                    font-size: $info2;
                }

                span:last-child {
                    font-size: $info2;
                    color: $background;
                    padding: 0.2rem 0.5rem;
                    background-color: $primary;
                    border-radius: 100%;
                }

                @include mediaQ ('ham1') {
                    padding: 0;
                    text-align: end;
                    margin-right: 6rem;

                    i {
                        display: inline-block;
                        position: absolute;
                        top: 1.3rem;
                        right: 4.2rem;
                    }

                    span:first-child {
                        font-size: 0;
                    }
                    span:last-child{
                        position: absolute;
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 1.5;
                        right: 3.9rem;
                        top: 0.8rem;
                    }
                }
                @include mediaQ ('ham2') {
                    padding: 0;
                    text-align: end;
                    margin-right: 6rem;

                    i {
                        display: inline-block;
                        position: absolute;
                        top: 1.3rem;
                        right: 4.2rem;
                    }

                    span:first-child {
                        font-size: 0;
                    }
                    span:last-child{
                        position: absolute;
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 1.5;
                        right: 3.9rem;
                        top: 0.8rem;
                    }
                }
                @include mediaQ ('ham3') {
                    padding: 0;
                    text-align: end;
                    margin-right: 6rem;

                    i {
                        display: inline-block;
                        position: absolute;
                        top: 1.3rem;
                        right: 4.2rem;
                    }

                    span:first-child {
                        font-size: 0;
                    }
                    span:last-child{
                        position: absolute;
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 1.5;
                        right: 3.9rem;
                        top: 0.8rem;
                    }
                }
            }
        }

        .banner {
            width: $inner;

            @include mediaQ ('ham1') {
                width: 95%;
                margin: auto;
                margin-top: 60px;
            }
            @include mediaQ ('ham2') {
                width: 95%;
                margin: auto;
                margin-top: 60px;
            }
            @include mediaQ ('ham3') {
                width: 95%;
                margin: auto;
                margin-top: 60px;
            }

            .b-img {
                &-img {
                    width: 100%;
                    background: url(../img/bannerImg/bannerImg0.jpg) no-repeat center top/cover;
                    margin-left: 10vw;
                    height: 95vh;

                    @include mediaQ ('ham1') {
                        margin-left: 0;
                        height: 85vw;
                    }
                    @include mediaQ ('ham2') {
                        margin-left: 0;
                        height: 85vw;
                    }
                    @include mediaQ ('ham3') {
                        margin-left: 0;
                        height: 85vw;
                    }
                }

                &-text {
                    margin-left: 10vw;
                    width: 100%;
                    height: 10vh;
                    background-color: $background;

                    @include mediaQ ('ham1') {
                        margin-left: 0;
                    }
                    @include mediaQ ('ham2') {
                        margin-left: 0;
                        line-height: 1.333;
                    }
                    @include mediaQ ('ham3') {
                        margin-left: 0;
                        line-height: 1.333;
                    }

                    &-inner {
                        margin-left: 18vw;

                        @include mediaQ ('ham1') {
                            width: 100%;
                            margin: 0;
                            text-align: center;
                        }
                        @include mediaQ ('ham2') {
                            width: 100%;
                            margin: 0;
                            text-align: center;
                        }
                        @include mediaQ ('ham3') {
                            width: 100%;
                            margin: 0;
                            text-align: center;
                        }

                        span {
                            @extend %picSpan;
                        }
                    }
                }
            }
        }

        .right {
            position: absolute;
            top: 0;
            right: 0;
            width: $nav;
            background: $background;
            height: $height;

            @include mediaQ ('ham1') {
                display: none;
            }
            @include mediaQ ('ham2') {
                display: none;
            }
            @include mediaQ ('ham3') {
                display: none;
            }
        }
    }
}