main {
    width: 100%;

    .img-hover {
        @extend %hoverText;
        display: none;
    }

    .inner {
        width: $inner;
        margin-left: 10vw;

        .section1 {
            @extend %section1;
            @extend %section1Img;
        }

        //section1

        .section2 {
            @extend %section2;
            @extend %section2Img;
        }

        //section2

        .section3 {
            @extend %section1;
            @extend %section1Img;
        }

        //section3

        .section4 {
            height: $height;
            background-color: cadetblue;
        }

        //section4

        .section5 {
            height: $height;
            background-color: chocolate;
        }

        //section5

        .section6 {
            height: $height;
            background-color: darkcyan;
        }

        //section6

        .section7 {
            height: $height;
            background-color: cornflowerblue;
        }

        //section7

        .section8 {
            height: $height;
            background-color: darkorange;
        }

        //section8

    }
}