main{
    width: 100%;
    .inner{
        width: $inner;
        margin: auto;

        .section1{height: $height; background-color: azure;} //section1

        .section2{height: $height; background-color: aquamarine;} //section2

        .section3{height: $height; background-color: bisque;} //section3

        .section4{height: $height; background-color: cadetblue;} //section4

        .section5{height: $height; background-color: chocolate;} //section5

        .section6{height: $height; background-color: darkcyan;} //section6

        .section7{height: $height; background-color: cornflowerblue;} //section7

        .section8{height: $height; background-color: darkorange;} //section8

    }
}