main {
    width: 100%;
    height: 100%;
    background: $background;

    .inner {
        width: $inner;
        margin: auto;

        @include mediaQ ('ham1') {
            width: 95% !important;
            margin: auto;
        }
        @include mediaQ ('ham2') {
            width: 95% !important;
            margin: auto;
        }
        @include mediaQ ('ham3') {
            width: 95% !important;
            margin: auto;
        }

        .section1 {
            @extend %section1;
            @extend %section1Img;
        }

        //section1

        .section2 {
            @extend %section2;
            @extend %section2Img;
        }

        //section2

        .section3 {
            @extend %section1;
            @extend %section1Img;
        }

        //section3

        .section4 {
            @extend %section2;
            @extend %section2Img;

            .img9 {
                span {
                    display: block;
                }
            }
        }

        //section4

        .section5 {
            @extend %section1;
            @extend %section1Img;
        }

        //section5

        .section6 {
            @extend %section2;
            @extend %section2Img;

            .img14 {
                .img-text {
                    span {
                        &:nth-child(2) {
                            font-weight: 600 !important;
                            font-size: 14px !important;
                            font-style: normal;
                        }
                    }

                    p {
                        font-weight: 600 !important;
                        font-size: 14px !important;
                    }
                }
            }

        }

        //section6

        .section7 {
            @extend %section1;
            @extend %section1Img;

            height: initial !important;
        }

        //section7

        .section8 {
            @extend %section2;
            @extend %section2Img;
        }

        //section8
    }

    //이미지 호버
    .img {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        width: inherit;
        display: block;

        .img-hover {
            display: none;

            @extend %hoverText;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $background;

            .img-hover-text p {
                width: 100%;
                cursor: pointer;
                color: $background;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            }
        }

        .boxS {
            box-sizing: border-box;
            overflow: hidden;
            width: inherit;
            display: block;
            height: 100%;

            img:hover {
                filter: grayscale(100%) brightness(40%);
                transition: all 0.4s ease-out;
                scale: 120% 120%;
                cursor: pointer;
            }
        }


    }

}