.popup {
    position: fixed;
    z-index: 100;
    width: 37rem;
    height: 12rem;
    background: rgba(255, 255, 255, .8);
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px #888;

    @include mediaQ ('ham3') {
        width: 20rem;
        height: 20rem;
    }

    .popText {
        margin-top: 4.5rem;

        @include mediaQ ('ham3') {
            margin-top: 6rem;
        }

        p {
            width: 100%;
            justify-content: center;
            text-align: center;
            font-size: $info1;

            @include mediaQ ('ham3') {
                width: 95%;
                margin: auto;
                line-height: 2;
            }
        }
    }

    a {
        display: block;

        i.fa-regular {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}