%section1 {
    width: 100%;
    margin-top: 2rem;
    background: $background;
    display: flex;
    align-items: flex-end;
    gap: 1.5vw;

    @include mediaQ ('ham2') {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-top: 0;
        line-height: 1;
    }
    @include mediaQ ('ham2') {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-top: 0;
        line-height: 1;
    }
    @include mediaQ ('ham3') {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-top: 0;
        line-height: 1;
    }
}

%section1Img {
    img {
        width: 39vw;
        text-align: center;

        @include mediaQ ('ham1') {
            width: 48vw;
        }

        @include mediaQ ('ham2') {
            flex-direction: column;
            width: 100%;
        }
        @include mediaQ ('ham3') {
            flex-direction: column;
            width: 100%;
        }
    }

    .img-text {
        text-align: center;

        span {
            @extend %picSpan;
            
        }
        @include mediaQ ('ham1') {
            line-height: 1;
        }
        @include mediaQ ('ham2') {
            line-height: 1;
        }
        @include mediaQ ('ham3') {
            line-height: 1;
        }
    }
}

%section2 {
    width: 100%;
    margin-top: 2rem;
    background-color: $background;
    display: grid;
    grid-template-columns: repeat(3, 25.3vw);
    gap: 1.5vw;
    align-items: flex-end;

    @include mediaQ ('ham1') {
        display: flex;
        flex-direction: column;
    }

    @include mediaQ ('ham2') {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        line-height: 1.333;
    }
    @include mediaQ ('ham3') {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        line-height: 1.333;
    }
}

%section2Img {
    img {
        width: 25.3vw;

        @include mediaQ ('ham1') {
            width: 100%;
        }

        @include mediaQ ('ham2') {
            width: 100%;
        }
        @include mediaQ ('ham3') {
            width: 100%;
        }
    }

    .img-text {
        text-align: center;

        span {
            @extend %picSpan;

        }
        @include mediaQ ('ham2') {
            line-height: 1;
        }
        @include mediaQ ('ham3') {
            line-height: 1;
        }
    }
}