%section1 {
    width: 100%;
    margin-top: 2rem;
    background: $background;
    display: flex;
    align-items: flex-end;
    gap: 1.5vw;
}

%section1Img {
    img {
        width: 39vw;
        text-align: center;

        @include mediaQ ('ham1') {
            width: 48vw;
        }
        @include mediaQ ('ham2') {
            width: 48vw;
        }
    }

    .img-text {
        text-align: center;

        span {
            @extend %picSpan;
        }
    }
}

%section2 {
    width: 100%;
    margin-top: 2rem;
    background-color: $background;
    display: grid;
    grid-template-columns: repeat(3, 25.3vw);
    gap: 1.5vw;
    align-items: flex-end;

    @include mediaQ ('ham1') {
        grid-template-columns: repeat(3, 30vw);
    }
    @include mediaQ ('ham2') {
        grid-template-columns: repeat(3, 30vw);
    }
}

%section2Img {
    img {
        width: 25.3vw;

        @include mediaQ ('ham1') {
            width: 31vw;
        }
        @include mediaQ ('ham2') {
            width: 31vw;
        }
    }

    .img-text {
        text-align: center;

        span {
            @extend %picSpan;
        }
    }
}