%picSpan{
    &:not(:last-child) {
        font-style: italic;
        font-size: 12px;
    }
    &:last-child {
        font-weight:600;
        font-size: 14px;
    }
}

%listText{
    h2 {
        font-weight: 600;
        color: $text2;  
    }
    span{
        color: $background;
        font-size: $info2;
        padding-right: 1vw;
    }
}

%hoverText{
    text-align: center;
        line-height: 1.5;

        p:first-child {
            font-size: $main2;
            font-weight: 600;
        }

        p:last-child {
            font-size: $info2;
            font-weight: 500;
        }
}