@mixin MJA ($margin: auto, $justify-content: center, $align-items: center) {
    margin: $margin;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin topTrans{
    top: 50%;
    transform: translate(-50%);
}